.button{
  border-radius: 4px;
  border-width: 0;
  display: inline-block;
  font-weight: 700;
  font-size:1rem;
  line-height: .8rem;
  text-decoration: none;
  transition:opacity .1s ease-out;
  padding:9px;
}

.button:hover{
  opacity: .7;
}

.defaultButton{
  background-color: rgb(188, 188, 188);
  border: 1px solid #ddd;
  color:rgb(0, 0, 0);
}

.primaryButton{
  background-color: yellow;
  color: black;
}